@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  font-weight: 600;
}

section {
  height: 83%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 1fr));
}

.imgBox {
  background-color: dodgerblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBox {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.textBox > h2 {
  font-size: 24px;
  font-weight: 500;
}

.textBox > h4 {
  font-size: 14px;
  font-weight: 300;
}

.textBox:nth-child(odd) {
  background-color: floralwhite;
}
.textBox:nth-child(even) {
  background-color: coral;
}
